numpy~=1.24.2
pandas==2.0.1
networkx~=3.0
setuptools==67.8.0
matplotlib~=3.7.1
openpyxl==3.1.2
# pygraphviz~=1.10
gurobipy~=10.0.1
bidict~=0.22.1
scipy~=1.11.1
click~=8.1.6
sanitize-filename~=1.2.0
XlsxWriter~=3.1.2
